@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

#header{
    background-image: url('./images/donation5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    /* background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%); */
}
.header-content{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
}
.header-content h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}
.header-content p{
    margin-bottom: 30px;
    font-size: 18px;
}
.custom-btn{
    border: 0;
    outline: none;
    padding: 16px 20px;
    background-color: #FF5959;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#donate-today{
    margin: 100px 0;
    position: relative;
}
.donate-now-heading{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    color: #121212;
}
.donate-now-desc{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    color: #707070;
}
.ammount-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.ammount{
    padding: 40px 40px;
    background-color: #FAFAFA;
    color: #707070;
}
.color-ammount{
    padding: 40px 40px;
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}
.form-container{
    /* position: absolute; */
    margin-bottom: 200px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    font-size: 18px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
}
hr{
    color: #DADADA;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn{
    position: absolute;
    left: 45%;
}

#donate-plan{
    margin: 100px 0 130px;
}
.donate-header{
    margin-bottom: 50px;
}
.donate-header h1{
    font-size: 45px;
    color: #121212;
    text-align: center;
    margin-bottom: 20px;
}
.donate-header p{
    font-size: 18px;
    color: #707070;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.donate-plans{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.plan{
    width: 360px;
    height: 352px;
    padding: 62px 20px 0 22px;
    border-radius: 5px;
}
.plan:nth-child(1){
    background-color: rgba(79, 157, 166, 0.1);
}
.plan:nth-child(2){
    background-color: rgba(255, 89, 89, 0.1);
}
.plan:nth-child(3){
    background-color: rgba(255, 244, 214, 1);
}
.plan img{
    margin-bottom: 30px;
}
.plan h2{
    color: #121212;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}
.plan p{
    font-size: 16px;
    color: #707070;
    line-height: 24px;
}

#our-foundations{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.part-1{
    margin-left: 50px;
}
.part-1 h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: #121212;
}
.part-1 p{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 50px;
}

#my-updates{
    margin-bottom: 130px;
}
.updates-header{
    margin-bottom: 50px;
}
.updates-header h1{
    font-size: 45px;
    color: rgba(18, 18, 18, 1);
    margin-bottom: 20px;
    text-align: center;
}
.updates-header p{
    color: rgba(112, 112, 112, 1);
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.subscribe-container{
    width: 809px;
    height: 200px;
    background-color: rgba(255, 244, 214, 1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.email-btn{
    position: absolute;
    left: 25%;
}
.email-btn input{
    height: 48px;
    width: 275px;
    outline: none;
    border: 0;
    padding: 14px 0 14px 17px;
    font-size: 16px;
    background-color: rgba(217, 217, 217, 1);
}
.subscribe-btn{
    background-color: rgba(255, 89, 89, 1);
    border-radius: 0 5px 5px 0;
    height: 48px;
    width: 157px;
    border: 0;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
}

footer{
    background-color: #0B0D17;
    width: 100%;
    height: 177px;
    position: relative;
}
footer div{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}
footer div h1{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: rgba(255, 89, 89, 1);
    margin-bottom: 24px;
}
footer div p{
    font-size: 14px;
    color: #D9DBE1;
}